body {
  background: url(coffee-apple.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100vh;           /* Usa toda la altura de la pantalla */
  position: absolute;      /* Asegura que el contenedor se mantenga centrado */
  width: 100%;             /* Usa toda la anchura de la pantalla */
}
